@model ExamQuestionViewModel

<!--Text Settings Edit-->
<form id="questionInputForm" method="post" class="hide inputForm">
    <div class="row mt-2">
        <!--Font Size-->
        <div class="col-3">
            <label class="mr-1" asp-for="@Model.QuestionText.FontSize">Font Size: </label>
            <input id="qFontSizeInput" asp-for="@Model.QuestionText.FontSize" value="16" max="132" min="2" onchange="setQFontSize(this.value)" />
        </div>

        <!--CheckBoxes Icons-->
        <div class="col-3 d-flex justify-content-around">
            <!--Bold CheckBox-->
            <div class="image-checkbox d-flex justify-content-around">
                <input id="qTextBoldInput" class="checkBoxInput" type="checkbox" asp-for="@Model.QuestionText.Bold" onchange="qTextBold(this)">
                <label class="mb-0" for="qTextBoldInput">
                    <img src="~/images/bold.png" alt="#" class="img-fluid checkBoxIcon" />
                </label>
            </div>
            <!--Italic CheckBox-->
            <div class="image-checkbox d-flex justify-content-around">
                <input id="qTextItalicInput" class="checkBoxInput" type="checkbox" asp-for="@Model.QuestionText.Italic" onchange="qTextItalic(this)">
                <label class="mb-0" for="qTextItalicInput">
                    <img src="~/images/italic.png" alt="#" class="img-fluid checkBoxIcon" />
                </label>
            </div>
            <!--Underline CheckBox-->
            <div class="image-checkbox d-flex justify-content-around">
                <input id="qTextUnderlineInput" class="checkBoxInput" type="checkbox" asp-for="@Model.QuestionText.Underlined" onchange="qTextUnderline(this)">
                <label class="mb-0" for="qTextUnderlineInput">
                    <img src="~/images/underlined-text.png" alt="#" class="img-fluid checkBoxIcon" />
                </label>
            </div>
        </div>
        <!--Alignment Option List-->
        <div class="col-3">
            <label class="mr-1" asp-for="@Model.QuestionText.Alignment">Alignment: </label>
            <select id="qTextAlignmentSelect" class="form-select" asp-for="@Model.QuestionText.Alignment" asp-items="Html.GetEnumSelectList<Alignment>()" onchange="qTextAlignment(this.value)">
            </select>
        </div>
        <!--Color-->
        <div class="col-2">
            <label class="mr-1" asp-for="@Model.QuestionText.Color">Color: </label>
            <input value="#000000" id="qTextColorPicker" type="color" asp-for="@Model.QuestionText.Color" onchange="qTextColor(this.value)" />
        </div>
    </div>


    <hr class="mt-3 mb-2">
    <textarea class="ml-1 row" id="qTextAreaInput" placeholder="Write text here..." required></textarea>
    <input type="submit" id="qTextInputBtn" class="btn-primary" />
</form>
